.bg-banana {
  background-color: #FFDE59 !important;
}

.bg-mint {
  background-color: #83d089 !important;
}

.bg-etsy-color {
  background-color: #e7aabc !important;
}

.bg-animal {
  background-color: #c3a472 !important;
}

.bg-gray-1 {
  background-color: #f9f9f9 !important;
}

.bg-monochromatic-1 {
  background-color: #DFD293 !important;
}

.bg-monochromatic-1-alt {
  background-color: #f5e7a4 !important;
}

.bg-monochromatic-2 {
  background-color: #D9C24E !important;
}

.bg-monochromatic-3 {
  background-color: #59543B !important;
}

.bg-monochromatic-4 {
  background-color: #A6943C !important;
}

.bg-animal {
  background-color: #c3a472 !important;
}

.bg-transparent {
  background-color: transparent;
}


.bg-bananappeal {
  background-image: url('images/bananappeal.co.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFDE59;
  background-attachment: fixed;
  background-position: center;
}

.logo-mobile-only {
  display: none;
}

/* https://stackoverflow.com/a/47517612 */
@media (pointer: coarse) {
  .bg-bananappeal {
    background-image: unset !important;
    background-size: unset !important;
    background-repeat: unset !important;
    background-attachment: unset !important;
    background-position: unset !important;
  }

  .logo-mobile-only {
    display: block;
  }
}

.bg-figurines {
  background-image: url('images/yves-alarie-vCYfdVhIZ2Y-unsplash.jpg');
  background-position: right;
  background-color: #f9f9f9;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-etsy {
  background-image: url('images/keila-hotzel-lFmuWU0tv4M-unsplash_cmp.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-repeat: no-repeat;
}

.bg-insta {
  background-image: url('images/rahul-chakraborty-xsGxhtAsfSA-unsplash_cmp.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-repeat: no-repeat;
}

.btn-banana {
  background-color: #FFDE59;
  border-color: #FFDE59;
  color: black;
  text-decoration: none;
  text-decoration-color: #000000;
}

.btn-banana:hover {
  background-color: #FD6155;
  border-color: #FD6155;
  color: black;
  text-decoration: none;
  text-decoration-color: #000000;
}

.banana-link {
  color: black;
  text-decoration: none;
  text-decoration-color: #000000;
}

.banana-link:hover {
  color: black;
  text-decoration: none;
  text-decoration-color: #000000;
}

.undecorated-link {
  text-decoration: none;
}

.undecorated-link:hover {
  text-decoration: none;
}

.animal-link {
  color: white;
  text-decoration: none;
  text-decoration-color: #ffffff;
}

.animal-link:hover {
  color: white;
  text-decoration: none;
  text-decoration-color: #ffffff;
}

.container {
  max-width: 960px;
}

.btn-taller {
  min-height: 5rem;
}

.btn-special-text {
  letter-spacing: 0.15rem;
  font-weight: 700;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1.5rem 0 1.65rem;
  text-transform: uppercase;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}